@import "../../.cache/wal/";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}


#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-wireguard,
#cpu,
#temperature.cpu,
#memory,
#mpris,
#image,
#custom-gpu,
#custom-gpu-temp,
#custom-vram,
#custom-mouse,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#mpris {
    color: @mauve;
    border-radius: 0px 1rem 1rem 0px;
}

#image {
    color: @mauve;
    border-radius: 1rem 0px 0px 1rem;
}

#cpu {
    color: @mauve;
    border-radius: 1rem 0px 0px 1rem;
}
#temperature.cpu {
  color: @maroon;
    border-radius: 0px 0rem 0rem 0px;
}

#memory {
    color: @mauve;
    border-radius: 0px 0rem 0rem 0px;
}

#custom-gpu {
    color: @mauve;
    border-radius: 0px 0rem 0rem 0px;
}

#custom-gpu-temp,
#custom-vram{
  color: @maroon;
    border-radius: 0px 0rem 0rem 0px;
}

#custom-mouse {
    color: @mauve;
    border-radius: 0px 1rem 1rem 0px;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-wireguard{
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
