#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    text_color: "{color15}",
    tab_bar: (
        enabled: true,
        active_style: (fg: "{color7}", bg: "{color1}", modifiers: "Bold"),
        inactive_style: (fg: "{color1}", modifiers: ""),
    ),
    highlighted_item_style: (fg: "{color1}", modifiers: "Underlined | Bold"),
    current_item_style: (fg: "{color7}", bg: "{color1}", modifiers: "Bold"),
    borders_style: (fg: "{color1}", modifiers: "Bold"),
    highlight_border_style: (fg: "{color1}"),
    symbols: (
        song: "󰝚 ",
        dir: " ",
        playlist: "󰲸 ",
        marker: " ",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    progress_bar: (
        symbols: ["", "█", "", "█", "" ],
        track_style: (fg: "{color0}"),
        elapsed_style: (fg: "{color1}"),
        thumb_style: (fg: "{color1}", bg: "{color0}"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["┋", "█", "󰄿", "󰄼"],
        track_style: (fg: "{color1}"),
        ends_style: (fg: "{color1}"),
        thumb_style: (fg: "{color1}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "{color4}"),
                highlighted_item_style: (fg: "{color0}", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "gray"),)
            ),
            width: "40%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "{color1}"),
                default: (kind: Text("Unknown Album"), style: (fg: "{color12}"))
            ),
            width: "35%",
            alignment: Right,
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "{color1}"),
                default: (kind: Text("Unknown Artist"), style: (fg: "{color12}"))
            ),
            width: "25%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
                borders: "ALL",
                border_symbols: Rounded,
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        pane: Pane(Header),
                                        borders: "TOP|LEFT|RIGHT",
                                        border_symbols: Rounded,
                                    ),
                                ]
                            )),
                    ]
                ),
            ),
            (
                size: "3",
                pane: Pane(ProgressBar),
                borders: "BOTTOM|LEFT|RIGHT",
                border_symbols: Rounded,
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text(" "), style: (fg: "{color2}", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))), style: (fg: "{color2}", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "{color15}",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "{color15}",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "{color2}", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "{color2}", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "{color2}", modifiers: "Bold")),
                    (kind: Text(" "), style: (fg: "{color2}", modifiers: "Bold")),
                ]
            ),
            (
                left: [
                    (kind: Text(" "), style: (fg: "{color2}", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)),style: (fg: "#c1c3c5")),
                    (kind: Text("/"),style: (fg: "#c1c3c5")),
                    (kind: Property(Status(Duration)),style: (fg: "#c1c3c5")),
                    (kind: Text(" ("), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Property(Status(Bitrate)), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Text(" kbps | "), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Property(Status(Bits())), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Text(" bit | ["), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Property(Song(FileExtension)), style: (fg: "#61605D", modifiers: "Bold")),
                    (kind: Text("]) "), style: (fg: "#61605D", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "{color2}", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "{color9}", modifiers: "Bold"))
                    ),
                ],
                right: [

                    (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                                    on_style: (fg: "{color15}", modifiers: "Bold"),
                                                    off_style: (fg: "{color1}", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                                    on_style: (fg: "{color15}", modifiers: "Bold"),
                                                    off_style: (fg: "{color1}", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯 󰇊",
                                                     on_style: (fg: "{color15}", modifiers: "Bold"),
                                                     off_style: (fg: "{color1}", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                                    on_style: (fg: "{color15}", modifiers: "Bold"),
                                                    off_style: (fg: "{color1}", modifiers: "Bold"))))),
                    (kind: Text(" ("),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Sticker("playCount"),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Text(")"),style: (fg: "{color15}", modifiers: "Bold")),
                    (kind: Text(" "), style: (fg: "{color2}", modifiers: "Bold")),
                        ]
                    ),
                    ],
                    ),
                    browser_song_format: [
                        (
                         kind: Group([
                             (kind: Property(Track)),
                             (kind: Text(" ")),
                         ])
                        ),
                        (
                         kind: Group([
                             (kind: Property(Artist)),
                             (kind: Text(" - ")),
                             (kind: Property(Title)),
                         ]),
                         default: (kind: Property(Filename))
                        ),
                    ],
                    )
