#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    text_color: "#c7c4c2",
    tab_bar: (
        enabled: true,
        active_style: (fg: "#895F3B", modifiers: "Bold"),
        inactive_style: (fg: "#785C43", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#785C43", modifiers: "Bold"),
    current_item_style: (fg: "#895F3B", bg: "#785C43", modifiers: "Bold"),
    borders_style: (fg: "#785C43", modifiers: "Bold"),
    highlight_border_style: (fg: "#785C43"),
    symbols: (song: "󰝚 ", dir: " ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█"],
        track_style: (fg: "#1f140d"),
        elapsed_style: (fg: "#785C43"),
        thumb_style: (fg: "#785C43"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "#785C43"),
        ends_style: (fg: "#785C43"),
        thumb_style: (fg: "#785C43"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#976D45"),
                highlighted_item_style: (fg: "#1f140d", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "gray"),)
            ),
            width: "70%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#785C43"),
                default: (kind: Text("Unknown Album"), style: (fg: "#976D45"))
            ),
            width: "30%",
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "TOP | BOTTOM",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: " ", paused_label: "❚❚", stopped_label: "❚❚"))), style: (fg: "#895F3B", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#c7c4c2",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#c7c4c2",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#895F3B", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#895F3B", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#895F3B", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)),style: (fg: "#c7c4c2")),
                    (kind: Text("/"),style: (fg: "#1f140d")),
                    (kind: Property(Status(Duration)),style: (fg: "#c7c4c2")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#895F3B", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#785C43", modifiers: "Bold"))
                    ),
                ],
                right: [

                    (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                                    on_style: (fg: "#c7c4c2", modifiers: "Bold"),
                                                    off_style: (fg: "#785C43", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "#c7c4c2", modifiers: "Bold")),
                    (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                                    on_style: (fg: "#c7c4c2", modifiers: "Bold"),
                                                    off_style: (fg: "#785C43", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "#c7c4c2", modifiers: "Bold")),
                    (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯 󰇊",
                                                     on_style: (fg: "#c7c4c2", modifiers: "Bold"),
                                                     off_style: (fg: "#785C43", modifiers: "Bold"))))),
                    (kind: Text(" / "),style: (fg: "#c7c4c2", modifiers: "Bold")),
                    (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                                    on_style: (fg: "#c7c4c2", modifiers: "Bold"),
                                                    off_style: (fg: "#785C43", modifiers: "Bold"))))),
                    (kind: Text(" "),style: (fg: "#c7c4c2", modifiers: "Bold")),
                        ]
                    ),
                    ],
                    ),
                    browser_song_format: [
                        (
                         kind: Group([
                             (kind: Property(Track)),
                             (kind: Text(" ")),
                         ])
                        ),
                        (
                         kind: Group([
                             (kind: Property(Artist)),
                             (kind: Text(" - ")),
                             (kind: Property(Title)),
                         ]),
                         default: (kind: Property(Filename))
                        ),
                    ],
                    )
